In [3]:
import sys
import os
os.chdir("../")

import pandas as pd
import data

In [4]:
train_df = data.train_df('full')

In [5]:
train_df.head(10)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,008UN2RY0DMY,cd10940538005,1541031243,1,search for destination,"Rochester, USA",US,"Rochester, USA",desktop,NaN,NaN,NaN
1,008UN2RY0DMY,cd10940538005,1541031463,2,change of sort order,interaction sort button,US,"Rochester, USA",desktop,NaN,NaN,NaN
2,008UN2RY0DMY,cd10940538005,1541031473,3,change of sort order,distance and recommended,US,"Rochester, USA",desktop,NaN,NaN,NaN
3,008UN2RY0DMY,cd10940538005,1541031473,4,filter selection,Focus on Distance,US,"Rochester, USA",desktop,Focus on Distance,NaN,NaN
4,008UN2RY0DMY,cd10940538005,1541031550,5,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN
5,008UN2RY0DMY,cd10940538005,1541031550,6,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN
6,008UN2RY0DMY,cd10940538005,1541031560,7,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN
7,008UN2RY0DMY,cd10940538005,1541031560,8,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN
8,008UN2RY0DMY,cd10940538005,1541031570,9,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN
9,008UN2RY0DMY,cd10940538005,1541031570,10,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN

## Actions type

In [7]:
actions_groups = train_df[['session_id','action_type']].groupby('action_type').agg('count')

In [10]:
actions_groups

                        session_id
action_type
change of sort order        400584
clickout item              1586586
filter selection            695917
interaction item deals      411040
interaction item image    11860750
interaction item info       285402
search for destination      403066
search for item             152203
search for poi              137444