In [19]:
import os
os.chdir('../')

In [20]:
import data
import numpy as np
import pandas as pd
from tqdm.auto import tqdm

tqdm.pandas()

In [21]:
df = data.train_df('small', 'cluster_recurrent')

In [22]:
df.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,act_clickout,act_interaction,act_search,focus_rating,focus_pop,focus_price
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,1,0,0,0
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3.0,0,1,0,0,0,0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0
6,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0

In [23]:
action_classes = ['act_clickout', 'act_interaction', 'act_search']
focus_classes = ['focus_rating', 'focus_pop', 'focus_price']
encoding_classes = action_classes + focus_classes

# maps every action type to the corresponding encoding
mapping = {
    'clickout item':           [1, 0, 0, 0, 0, 0],
    'interaction item info':   [0, 1, 0, 0, 0, 0],
    'interaction item rating': [0, 1, 0, 1, 0, 0],
    'interaction item image':  [0, 1, 0, 0, 0, 0],
    'interaction item deals':  [0, 1, 0, 0, 0, 1],
    'search for item':         [0, 1, 1, 0, 0, 0],
    'search for destination':  [0, 0, 1, 0, 0, 0],
    'search for poi':          [0, 0, 1, 0, 0, 0]
}

In [11]:
res_matrix = np.zeros( (df.shape[0], len(encoding_classes)), dtype='int8')

In [15]:
i = 0
for a in tqdm(df['action_type']):
    res_matrix[i, :] = mapping[a]
    i += 1

HBox(children=(IntProgress(value=0, max=179255), HTML(value='')))

In [16]:
res_matrix

array([[0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       ...,
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0]], dtype=int8)

In [17]:
for j,col_name in enumerate(encoding_classes):
    df[col_name] = res_matrix[:,j]

In [18]:
df.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,act_clickout,act_interaction,act_search,focus_rating,focus_pop,focus_price
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,1,0,0,0
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3.0,0,1,0,0,0,0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0
6,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,1,0,0,0,0